.loc-container {
    display: flex;
    width: 75%;
    margin: 40px auto;
    gap: 32px;
}

.left-map iframe,
.left-map img {
    width: 100%;
    height: 840px;
    border-radius: 12px;
    object-fit: contain;
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.right-panel {
    width: 58%;
}

.tag-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.tag-btn {
    padding: 10px 22px;
    border-radius: 8px;
    background: white;
    border: 1px solid #cfcfcf;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
}

    .tag-btn.active {
        background: #5b2e90;
        color: #fff;
    }

.location-card {
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #efefef;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.06);
}

.tag-label {
    background: #e9dbff;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 700;
    color: #5b2e90;
    margin-bottom: 10px;
    display: inline-block;
}

.location-title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 5px;
}

.loc-buttons {
    display: flex;
    gap: 10px;
    margin-top: 12px;
    flex-wrap: wrap;
}

.btn-call,
.btn-dir {
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
}

.btn-call {
    background: #f3e7ff;
    color: #5b2e90;
}

.btn-dir {
    background: #eef2ff;
    color: #5b2e90;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 20px;
}

.page-arrow {
    font-size: 18px;
    color: #666;
    cursor: pointer;
}

.page-number {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #5b2e90;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #5b2e90;
}

    .page-number.active {
        background: #5b2e90;
        color: #fff;
    }
